@model EMPLOYEE_MANAGEMENT.Models.User
@{
    ViewBag.Title = "Create";
}
<form method="post" action="Add" class="mt-5" onsubmit="return validateForm()">
    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="text" class="form-control" id="Email" asp-for="Email" required>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Password</label>
        <input type="password" class="form-control" id="Password" asp-for="Password" required>
    </div>
    <div class="mb-3">
        <label for="Role" class="form-label">Role</label>
        <select class="form-control" id="Role" asp-for="Role" required>
            <option value="DEPARTMENT_HEAD">Department Head</option>
            <option value="Employee">Employee</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>