@model EMPLOYEE_MANAGEMENT.DTO.ForgotPasswordDTO
@{
    ViewBag.Title = "Email";
}
<form method="post" action="ForgotPassword" class="mt-5">
    <div class="mb-3">
        <label for="OTP" class="form-label">OTP</label>
        <input type="number" class="form-control" id="OTP" asp-for="OTP" required>
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" id="Password" asp-for="Password" required>
    </div>
    <div class="mb-3">
        <label for="ConfirmPassword" class="form-label">ConfirmPassword</label>
        <input type="ConfirmPassword" class="form-control" id="ConfirmPassword" asp-for="ConfirmPassword" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>