@{
    ViewData["Title"] = "Home Page";
}


<a href="@Url.Action("ViewUserDetails")" class="btn btn-primary" style="background-color: green; color: white;">Add</a>
<br />
<br />
<a href="@Url.Action("ViewUserDetails")" class="btn btn-primary" style="background-color: blue; color: white;">Details</a>
<br />
<br />
<a href="@Url.Action("ViewAcademicDetails")" class="btn btn-primary" style="background-color: orange; color: white;">Academic Details</a>
<a href="@Url.Action("AddExperienceDetails")" class="btn btn-primary">Add Experirence Details</a>