@{
    ViewData["Title"] = "Home Page";
}
<div style="width: 100%; position: absolute; top: 0; left: 0;">
    <a href="@Url.Action("Login")" class="btn btn-primary btn-xs" style="float: right">
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Login
    </a>
</div>
